rx14.co.uk {
  tls chris@rx14.co.uk

  log / stdout {combined}
  errors stderr

  root /var/www/sites/rx14.co.uk

  markdown /
  git https://github.com/RX14/rx14.co.uk / {
    hook /webhook {$BLOG_WEBHOOK_PASSWORD}
  }
}