rx14.co.uk {
  tls chris@rx14.co.uk

  log / stdout {combined}
  errors stderr

  root /var/www/sites/rx14.co.uk

  markdown /
  git https://github.com/RX14/rx14.co.uk /var/www/sites/rx14.co.uk {
    hook /webhook {$BLOG_WEBHOOK_PASSWORD}
  }
}

www.aww.moe {
  tls chris@rx14.co.uk

  log / stdout {combined}
  errors stderr

  redir https://aww.moe{uri}
}

aww.moe {
  tls chris@rx14.co.uk

  log / stdout {combined}
  errors stderr

  proxy / http://pomfire:8080 {
    keepalive 128
  }
}

znc.rx14.co.uk {
  tls chris@rx14.co.uk

  log / stdout {combined}
  errors stderr

  proxy / http://znc:8080
}
