version: "3.3"

services:
  http:
    build: .
    volumes:
      - type: bind
        source: ${COMPOSE_ROOT}/data/sites/
        target: /var/www/sites/
      - type: bind
        source: ${COMPOSE_ROOT}/data/caddy/caddypath/
        target: /var/caddy/
      - type: bind
        source: ./Caddyfile
        target: /etc/Caddyfile
    environment:
      CADDYPATH: "/var/caddy"
    env_file: ./secret.env
    ports:
      - "163.172.10.62:443:443"
      - "163.172.10.62:80:80"
    restart: always
