version: "3.3"

services:
  pomfire:
    image: rx14/pomfire
    volumes:
      - type: bind
        source: ${COMPOSE_ROOT}/data/aww.moe/cache
        target: /var/cache/aww.moe
    environment:
      POMF_CACHE_DIR: /var/cache/aww.moe
      POMF_BIND_HOST: 0.0.0.0
      POMF_PORT: 8080
    env_file: ${COMPOSE_ROOT}/services/aww.moe/secret.env
    restart: always
